# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
venv/

# Jupyter
.ipynb_checkpoints

# JUCE / C++
Builds/
JUCE Library Code/
*.obj
*.exe
*.dll
*.lib
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Models / Data
*.onnx
*.pt
*.pth
data/raw/
data/processed/
data/cambridge_raw/
models/checkpoints/


# OS
.DS_Store
Thumbs.db
